.footer {
    background-color: var(--dark);
}

.footer-container {
    display: flex;
}

.logo-footer {
    color: var(--primary-brand);
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-part-footer {
    color: var(--background);
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
}