.hero-image-section {
    background-color: var(--dark);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../../images/hero/hero-mobile.jpg);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 72px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .hero-image-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../../images/hero/hero-mobile@2x.jpg);
    }
}

.title-main {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;

    display: block;
    max-width: 220px;
    margin: 0 auto 72px auto;
    text-align: center;
}

.button {
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--primary-brand);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--background);
}

@media screen and (min-width: 768px) {
    .hero-image-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../../images/hero/hero-tablet.jpg);
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .title-main {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;

        max-width: 496px;
        margin-bottom: 36px;
    }

    .button {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button:hover,
    .button:focus {
        background-color: var(--pressed-state);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px) {
    .hero-image-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../../images/hero/hero-tablet@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero-image-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../../images/hero/hero.jpg);
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .title-main {
        margin-bottom: 48px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero-image-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../../images/hero/hero@2x.jpg);
    }
}