.portfolio-list {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.container-portfolio-card {
    padding: 32px 16px;

}

.portfolio-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
}

.box-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay {
    transform: translateY(0);
}

.portfolio-card:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 1157px) {
    .container-portfolio-card {
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        border: 1px solid #F4F4FD;
    }
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-card {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        row-gap: 48px;
    }

    .container-portfolio-card {
        border-right: 1px solid #E7E9FC;
        border-left: 1px solid #E7E9FC;
        border-bottom: 1px solid #E7E9FC;
    }

    .portfolio-card {
        cursor: pointer;
        width: calc((100% - 48px) / 3);
    }
}