.team {
    background-color: var(--mode-background);
}

.team-container {
    max-width: 296px;
}

.title-section {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark);
    margin-bottom: 72px;
}

.team-member-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 72px;
}

.team-member-card {
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-team-member {
    padding-top: 32px;
    padding-bottom: 32px;
}

.name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
    text-align: center;
}

.position {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.social-media-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.social-media-item {
    display: block;
    width: 40px;
    height: 40px;
}

.social-media-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-brand);
    border-radius: 50%;
}

.social-media-icon {
    fill: var(--mode-background);
}

@media screen and (min-width: 768px) {
    .team-container {
        max-width: 584px;
    }

    .team-member-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }

    .team-member-card {
        width: calc((100% - 24px) / 2);
    }

    .social-media-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-media-link:hover,
    .social-media-link:focus {
        background-color: var(--pressed-state);
    }
}

@media screen and (min-width: 1158px) {
    .team-container {
        max-width: 1158px;
    }

    .team-member-list {
        gap: 24px;
    }

    .team-member-card {
        width: calc((100% - 72px) / 4);
    }
}