body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

@media screen and (min-width: 1158px) {
    button {
        cursor: pointer;
    }
}